div {
}

.btn:not(:disabled):hover {
  background-color: #172A3a;
}

.h1, .h2, .h3, .h4, .h5, h1, h2, h3, h4, h5, div, p, a {
  color: #13262F;
}

.h5, h5 {
  color: #13262F;
}

body {
  background-color: #FFFBFE;
}

.div.mapHome {
  margin-top: 6.28rem;
}

h1.login-prompt {
  /*margin-top: 3em;*/
  font-family: 'Roboto';
  left: 116px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 65px;
  color: #13262F;
  /*padding-left: 0.5em;*/
}

.login-clean {
  padding: 40px 0 !important;
  background: none;
}

.login-clean form {
  background-color: #FFFBFE;
}

