.contact-clean {
  background: #f1f7fc;
  padding: 80px 0;
}


.bg-map {  top: 0;   left: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  position: absolute;
  z-index: 1000;
  background:#FFFBFE;
  padding: 0px;
}

.front-box {   
  display: block;
  position: absolute;
  top: 22%;   left: 50%;
  -webkit-transform:translateX(-50%);
  width: 80vw;
  height: 60vh;
  z-index: 1001;
  background:rgba(222,222,222,.9);
  padding: 20px;
  
  border-radius: 12px;
  box-shadow: .5px 4px 20px rgba(0,0,0,.5);;
/*     filter: blur(25px);   */
}

h1.main-title {
  font-family: 'Roboto';
  /*width: 450px;*/
  /*height: 168px;*/
  /*left: 116px;*/
  top: 198px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2rem;
  color: #13262F;
}

h2.headings {
  font-family: 'Roboto';
  /*width: 450px;*/
  /*height: 168px;*/
  /*left: 116px;*/
  top: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 64px;
  color: #13262F;
  margin-top: 0.4em;
}

h5.map-code {
  top: 60px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #969696;
  margin-top: 0em;
}

.btn:not(:disabled):not(.disabled) {
  /* background-color: #66d7d7; */
  border: none;
  border-radius: 20px;
}

.btn-success{
    background-color: #66d7d7!important;
}

div.frontMap {
  margin-top: 6em;
}

div.legends{
  display:inline;
}


.features-clean .item .icon{
  color: #66d7d7;
}


@media (max-width:767px) {
  .contact-clean {
    padding: 20px 0;
  }
}
@media (min-width: 576px){
  .form-inline .form-control{
    width:20em!important;
}}

@media (min-width: 1015px){
  h1.main-title{
    font-family: 'Roboto';
    /*width: 450px;*/
    /*height: 168px;*/
    /*left: 116px;*/
    top: 198px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 84px;
    color: #13262F;
    margin-top: 1em;
  }
}

@media (min-width: 475px){
  h1.main-title{
    font-size:3rem;
    line-height: 3rem;
  }
}

